# Log files
*.log

# Java Class Files
*.class

# Package Files #
*.war
*.ear

# Ant/Gradle Target Directories
/target
/.gradle
/build

#IntelliJ Files/Directories
*.iml
/.idea
/.apt_generated
/out
atlassian-ide-plugin.xml

#tomcat files
*/context.xml